<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day15</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.itheima01.web.filter01.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>hello</filter-name>
    <filter-class>com.itheima01.web.filter01.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hello</filter-name>
    <url-pattern>/hello</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LifeFilter</display-name>
    <filter-name>LifeFilter</filter-name>
    <filter-class>com.itheima02.web.filter02.LifeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LifeFilter</filter-name>
    <url-pattern>/life</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LifeServlet</display-name>
    <servlet-name>LifeServlet</servlet-name>
    <servlet-class>com.itheima02.web.filter02.LifeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeServlet</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>O2Filter</display-name>
    <filter-name>O2Filter</filter-name>
    <filter-class>com.itheima03.web.filter03.O2Filter</filter-class>
  </filter>
  <filter>
    <display-name>O1Filter</display-name>
    <filter-name>O1Filter</filter-name>
    <filter-class>com.itheima03.web.filter03.O1Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>O1Filter</filter-name>
    <url-pattern>/order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>O2Filter</filter-name>
    <url-pattern>/order/o1</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.itheima03.web.filter03.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order/o1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.itheima04.web.filter04.DispatcherServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/ds/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet2</display-name>
    <servlet-name>DispatcherServlet2</servlet-name>
    <servlet-class>com.itheima04.web.filter04.DispatcherServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet2</servlet-name>
    <url-pattern>/ds/s2</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DispatcherFilter</display-name>
    <filter-name>DispatcherFilter</filter-name>
    <filter-class>com.itheima04.web.filter04.DispatcherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DispatcherFilter</filter-name>
    <url-pattern>/ds/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.itheima04.web.filter04.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/es</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>SNServlet</display-name>
    <servlet-name>SNServlet</servlet-name>
    <servlet-class>com.itheima05.web.filter05.SNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SNServlet</servlet-name>
    <url-pattern>/sn</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SNFilter</display-name>
    <filter-name>SNFilter</filter-name>
    <filter-class>com.itheima05.web.filter05.SNFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SNFilter</filter-name>
    <servlet-name>SNServlet</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>ConfigFilter</display-name>
    <filter-name>ConfigFilter</filter-name>
    <filter-class>com.itheima06.web.filter06.ConfigFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>gbk</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ConfigFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 
</web-app>